.customForm {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    width: 400px;
    
    &Success {
        position: absolute;
        top: 70px;
        left: 14px;
    }

    &Error {
        position: absolute;
        top: 70px;
        width: 700px;
        color: rgba(255, 0, 0, 1);
        text-shadow: 0 0 1px rgba(202, 0, 0, 0.4), 0 0 2px rgba(255, 0, 0, 0.8);
    }

    &Sending {
        position: absolute;
        top: 70px;
        left: 14px;
    }
}

.customInput {
    position: relative;
    font-size: 1em;
    padding: 15px;
    outline: 0;
    background-color: transparent;
    border-width: 0 0 4px;
    color: rgba(128, 255, 128, 0.8);
    border-color: rgba(128, 255, 128, 0.4);

    &:focus {
        border-color: rgba(128, 255, 128, 0.8);
        text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
    }
}

.customButton {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 50px;
    background-image: url("../../images/send.png");
    background-size: contain;
    font-size: 3em;
    padding: 10px;
    color: rgba(128, 255, 128, 0.8);
    background-color: transparent;
    outline: 0;
    border: 0;
}