.container {
    background-image: url('../../images/woodtable.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pageContainer {
    display: flex;
    justify-content: center;
    background-image: url('../../images/macbook.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: -7px;
    height: 600px;

    @include for-desktop-extra-large { 
        height: 760px;
     }
}

.errorContainer {
    width: 800px;

    @include for-desktop-extra-large { 
        width: 1010px;
     }
}